body {
    margin: 0px;
}



.game-board {
    width: 500px;
    height: 500px;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);

}
.game-slot {
    width: 33.333%;
    height: 33.333%;
    border: 5px solid black;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.game-slot:nth-child(1) {
    border-left-width: 0px;
    border-top-width: 0px;
}
.game-slot:nth-child(2) {
    border-top-width: 0px;
}
.game-slot:nth-child(3) {
    border-right-width: 0px;
    border-top-width: 0px;
}
.game-slot:nth-child(4) {
    border-left-width: 0px;
}
.game-slot:nth-child(6) {
    border-right-width: 0px;
}
.game-slot:nth-child(7) {
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.game-slot:nth-child(8) {
    border-bottom-width: 0px;
}
.game-slot:nth-child(9) {
    border-right-width: 0px;
    border-bottom-width: 0px;
}
.game-slot:hover {
    background-color: rgba(0, 0, 0, .2);
    cursor:pointer;
}




.token-o {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    position: relative;
}
.token-o::after {
    display: block;
    width: 80%;
    height: 80%;
    background-color: white;
    content: "";
    position: absolute;
    top: 10%;
    left: 10%; 
    border-radius: 50%;

}
.token-x {
    width: 100%;
    height: 100%;
    position: relative;
}
.token-x::before, .token-x::after {
    display: block;
    content: "";
    background-color: black;
    width: 100%;
    height: 15px;  
    position: absolute;
    top: calc(50% - 7.5px);
}
.token-x::before {
    transform: rotate(45deg);
}
.token-x::after {
    transform: rotate(-45deg);
}
